@using System.ServiceModel.Channels
@model GadgetWorld.Models.UserLoginModel

@{

    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<h5 style="margin-top:100px">KravMAGa</h5>

<h5>KravMAGa</h5>


<h5>KravMAGa</h5>